/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/03/2016, 06:58:24
    Author     : Iña
*/

@font-face{
    font-family: 'Intro';
    font-style: normal;
    font-weight: normal;
    src: local("Intro"), url('../fonts/Intro.otf') format("truetype");
    
}

@font-face{
    font-family: 'Mohave';
    font-style: normal;
    font-weight: normal;
    src: local("Mohave"), url('../fonts/Mohave.otf') format("truetype");
     
}
body {
  background: url(../img/BackgroundIndex.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
 h1{
     font-family: "Intro";
     font-size: 60px;
     -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
     text-shadow: 2px 2px 4px #FFFFFF;
     color: white;
 }
 
 #menu{
     font-family: "Mohave";
     font-size: 30px;
     word-spacing: 8px;
 }
 
 h2{
     text-decoration: none;
 }
 
 .hlink1  a:link, .hlink1 a:visited, .hlink2 a:link, .hlink2 a:visited, .hlink3 a:link, .hlink3 a:visited {
    padding: 10px 25px;
    color:white;
    text-align: left;	
    text-decoration: none;
    display: inline-block;
    text-shadow: 1px 1px 2px #000000;
}

.hlink1  a:link, .hlink1 a:visited {
    background-color: #f44336;
}

.hlink1 a:hover, .hlink1 a:active {
    background-color: #E52A1F;
}

.hlink2 a:link, .hlink2 a:visited {
    background-color: #009ED8;
}


.hlink2 a:hover, .hlink2 a:active {
    background-color: #006D95;
}

.hlink3 a:link, .hlink3 a:visited {
    background-color: #139675;
}


.hlink3 a:hover, .hlink3 a:active {
    background-color: #006231;
}
