
@font-face{
    font-family: 'Intro';
    font-style: normal;
    font-weight: normal;
    src: local("Intro"), url('../fonts/Intro.otf') format("truetype");
    
}

@font-face{
    font-family: 'Mohave';
    font-style: normal;
    font-weight: normal;
    src: local("Mohave"), url('../fonts/Mohave.otf') format("truetype");
     
}
body {
    background: url(../img/Background01.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover; 
}

h1{
     font-family: "Intro";
     font-size: 60px;
     -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: black;
     text-shadow: 2px 2px 4px #FFFFFF;
     color: white;
 }
 
h2, h3{
   text-align: center;
   font-family: "Mohave";
   font-size: 40px;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   text-shadow: 1px 1px 2px #FFFFFF;


 }
 h2{
  color: dodgerblue;
   letter-spacing: 15px;
 }
 
h3 a:link, h3 a:visited {
    background-color: #f44336;
    padding: 10px 25px;
    color:white;
    text-decoration: none;
    display: inline-block;
    text-shadow: 1px 1px 2px #000000;
}
 
h3 a:hover, h3 a:active {
    background-color: #E52A1F;
}

#huser, #hadmin{
    font-family: "Mohave";
    padding: 45px;
    color: dodgerblue;
    text-align: center;
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 1px 2px #FFFFFF;
    display:block;
 }
 
 #huser{
     background-color: rgba(244,234,234,0.6);
 }
 
#hadmin{
     background-color: rgba(255,169,44,0.6);   
 }
 